<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Git Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6EE8D8B51D75F12900B606BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EE8D8CE1D75F12900B606BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EE8D8D91D75F12900B606BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
